$logo: url('../../images/logo.svg');
$colorComponent: #004dbb;
$backgroundColor: #fff;

.header {
  height: 60px;
  margin-top: 35px;
  padding: 0 42px;
  border-bottom: 2px solid $colorComponent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: sticky;
  z-index: 1;
  top: 1px;
  background-color: $backgroundColor;
}

.header__logo {
  width: 130px;
  height: 30px;
  background-image: $logo;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.header__btn-reset {
  color: $colorComponent;
  border-radius: 5px;
  background: transparent;
  height: 30px;
  width: 130px;
  cursor: pointer;
  font-size: .9rem;
  border: 1px solid;
  &:hover {
    background-color: rgba($color: #c3e5ff, $alpha: .4);
  }
  &:active {
    background-color: #c3e5ff;
  }
}

@media screen and (max-width: 850px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 550px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 425px) {
  .header__logo {
    width: 100px;
    height: 25px;
  }

  .header__btn-reset {
    width: 100px;
    height: 25px;
  }
}